<nav class="navbar navbar-fixed-top header">
    <div class="col-md-12">
        <div class="navbar-header">
            <a href="/main" class="navbar-brand">Main</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
    </div>
</nav>

<div class="navbar navbar-default" id="subnav">
    <div class="col-md-12">
        <div class="collapse navbar-collapse" id="navbar-collapse2">
            <ul class="nav navbar-nav navbar-right">
            {{^sessionedUser}}
				<li><a href="/main" role="button">게시판</a></li>
                <li><a href="/users/loginForm" role="button">로그인</a></li>
                <li><a href="/users/form" role="button">회원가입</a></li>
			{{/sessionedUser}}
			
			{{#sessionedUser}}
                <li><a href="/users/logout" role="button">로그아웃</a></li>
                <li><a href="/users/{{id}}/form" role="button">개인정보수정</a></li>
            {{/sessionedUser}}    
            <li><a href="/users/list" role="button">사용자 목록</a></li>
            </ul>
        </div>
    </div>
</div>